<launch>

<?ignore <node name="key_teleop" pkg="key_teleop" type="key_teleop.py" output="screen"/> ?>
<node name="angle_tracker" pkg="exo_joint" type="angle_tracker.py"/>
<node name="spool_angle_tracker" pkg="exo_joint" type="spool_angle_tracker.py"/>
<node name="motor_driver" pkg="exo_joint" type="motor_driver.py" output="screen"/>


</launch>
